* {
    box-sizing: border-box;
}

body {
    background: black;
}

h1 {
    padding: 20px;
    font-size: 32px;
    text-shadow: 1.5px 1.5px grey;
}

.page-header {
    text-align: center;
    border-bottom: 1px solid cyan;
    margin-bottom: 20px;
    color:cyan;
}

#btn-search {
    background-color: cyan;
    color: black;
    margin-bottom: 20px;
}

.form-control {
    border: 1.5px solid cyan;
    background: lightgray;
}

.display-btn {
    display: flex;
    flex-wrap: wrap;
}

.wrap-btn {
    border: 1px solid cyan;
    margin-left: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: lightgray;
}

.btn-close {
    border-left: 1px solid grey;
    border-radius: 0px;
}